TOPIC: String Based Assignment Problem

In [2]:
# 1. Write a program to reverse a string.
print(input()[::-1])

PWSkills
sllikSWP

In [4]:
# 2. Check if a string is a palindrome.
a = input()
print(a==a[::-1])

kayak
True

In [5]:
# 3. Convert a string to uppercase.
print(input().upper())

rishi
RISHI

In [6]:
# 4. Convert a string to lowercase.
print(input().lower())

PWSKILLS
pwskills

In [10]:
# 5. Count the number of vowels in a string.
a = input()
c = 0
for i in a:
    if i in ["a", "e", "i", "o", "u"]:
        c+=1
print("No.of vowels:",c)

marvel avengers
No.of vowels: 5

In [15]:
# 6. Count the number of consonants in a string.
a = input()
a = a.lower()
a = a.replace(" ", "")
v = "aeiou"
s = sum(a.count(x) for x in v)
print("Number of consonants:",len(a)-s)

marvel avengers
Number of consonants: 9

In [16]:
# 7. Remove all whitespaces from a string.
print(input().replace(" ", ""))

    p w skill s
pwskills

In [17]:
# 8. Find the length of a string without using the `len()` function.
a = input()
c = 0 
for i in a:
    c+=1
print("Length of string is:", c)

pwskills
Length of string is: 8

In [18]:
# 9. Check if a string contains a specific word.
a = input()
sub = input()
print(sub in a)

avengers
ger
True

In [22]:
# 10. Replace a word in a string with another word.
a = input()
word = input()
print(a.replace(a[2:6], word))

wakanda
hulk
wahulka

In [1]:
# 11.Count the occurrences of a word in a string.
a = input("Enter a sentence:")
w = input()
print(a.count(w))

Enter a sentence:ram is a boy. ram likes mango. ram is 8 years old.
ram
3

In [2]:
# 12. Find the first occurrence of a word in a string.
a = input("Enter a sentence:")
w = input()
print(a.find(w))

Enter a sentence:ram is a boy. ram likes mango. ram is 8 years old.
ram
0

In [5]:
# 13. Find the last occurrence of a word in a string.
a = input("Enter a sentence:")
w = input()
print(a.rfind(w))

Enter a sentence:ram is a boy. ram likes mango. ram is 8 years old.
ram
31

In [6]:
# 14. Split a string into a list of words.
a = input("Enter a sentence:")
print(a.split())

Enter a sentence:ram is a boy. ram likes mango. ram is 8 years old.
['ram', 'is', 'a', 'boy.', 'ram', 'likes', 'mango.', 'ram', 'is', '8', 'years', 'old.']

In [7]:
# 15. Join a list of words into a string.
a = ['ram', 'is', 'a', 'boy.', 'ram', 'likes', 'mango.', 'ram', 'is', '8', 'years', 'old.']
print(" ".join(a))

ram is a boy. ram likes mango. ram is 8 years old.

In [8]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
a = input("Enter a sentence:")
print(a.replace(" ", "_"))

Enter a sentence:ram is a boy. ram likes mango.
ram_is_a_boy._ram_likes_mango.

In [9]:
# 17. Check if a string starts with a specific word or phrase.
a = input("Enter a sentence:")
print(a.startswith("ram"))

Enter a sentence:ram is a boy.
True

In [10]:
# 18. Check if a string ends with a specific word or phrase.
a = input("Enter a sentence:")
print(a.endswith("ram"))

Enter a sentence:ram is a boy
False

In [11]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
print(input("Enter a sentence").title())

Enter a sentenceram is a boy.
Ram Is A Boy.

In [14]:
# 20. Find the longest word in a string.
a = input("Enter a sentence:").split()
a.sort(key = lambda x: len(x), reverse = True)
print(a[0])

Enter a sentence:ram is a boy and he likes banana
banana

In [15]:
# 21. Find the shortest word in a string.
a = input("Enter a sentence:").split()
a.sort(key = lambda x: len(x))
print(a[0])

Enter a sentence:ram is a boy and he likes banana
a

In [24]:
# 22. Reverse the order of words in a string.
a = input("Enter a sentence:").split()
a.reverse()
print(" ".join(a))

Enter a sentence:ram is a boy and he likes banana
banana likes he and boy a is ram

In [27]:
# 23. Check if a string is alphanumeric.
print(input().isalnum())

CR7
True

In [1]:
# 24. Extract all digits from a string.
a = ""
for i in input():
    if i.isdigit():
        a+=i
print(a)

marvel123aven56gers
12356

In [2]:
# 25. Extract all alphabets from a string.
a = ""
for i in input():
    if i.isalpha():
        a+=i
print(a)

marvel123aven56gers
marvelavengers

In [3]:
# 26. Count the number of uppercase letters in a string.
a = ""
for i in input():
    if i.isupper():
        a+=i
print(len(a))

MaRvElavENgeRs
6

In [4]:
# 27. Count the number of lowercase letters in a string.
a = ""
for i in input():
    if not i.isupper():
        a+=i
print(len(a))

MaRvElavENgeRs
8

In [6]:
# 28. Swap the case of each character in a string.
print(input().swapcase())

MaRvElavENgeRs
mArVeLAVenGErS

In [8]:
# 29. Remove a specific word from a string.
a = input("Enter a sentence:")
w = input()
print(a.replace(w, ""))

Enter a sentence:ram is a boy. ram likes mango
ram
 is a boy.  likes mango

In [1]:
# 30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [3]:
# 31. Extract the username from an email address string.
a = input("Enter email address:")
s = a.split("@")
print(s[0])

Enter email address:pw@skills.com
pw

In [6]:
# 32. Extract the domain name from an email address string.
a = input("Enter email address:")
s = a.split("@")
print(s[1])

Enter email address:pw@skills.com
skills.com

In [9]:
# 33. Replace multiple spaces in a string with a single space.
a = "Hello     world!   How   are   you?"
print(" ".join(a.split()))

Hello world! How are you?

In [16]:
# 34. Check if a string is a valid URL.
import validators
validators.url("http://google.com")

True

In [17]:
# 35. Extract the protocol (http or https) from a URL string.
a = "https://mail.google.com"
print(a.split(":")[0])

https

In [28]:
# 36. Find the frequency of each character in a string.
import collections
a = "hello world"
c = (dict(collections.Counter(a)))
for k, v in c.items():
    print(f"{k} : {v}")

h : 1
e : 1
l : 3
o : 2
  : 1
w : 1
r : 1
d : 1

In [35]:
# 37. Remove all punctuation from a string.
import string
a = "Hello, world! How's it going?"
print("".join([x for x in a if x not in string.punctuation]))

Hello world Hows it going

In [38]:
# 38. Check if a string contains only digits.
a = "493943952"
a.isdigit()

True

In [40]:
# 39. Check if a string contains only alphabets.
a = "helloworld"
a.isalpha()

True

In [42]:
# 40. Convert a string to a list of characters.
print([x for x in input()])

ram is 8 years old
['r', 'a', 'm', ' ', 'i', 's', ' ', '8', ' ', 'y', 'e', 'a', 'r', 's', ' ', 'o', 'l', 'd']

In [55]:
# 41. Check if two strings are anagrams.
from collections import Counter
a = "silent"
b = "listen"
str1 = "hello"
str2 = "world"
print(dict(Counter(a)) == dict(Counter(b)))
print(dict(Counter(str1)) == dict(Counter(str2)))

True
False

In [82]:
# 42. Encode a string using a Caesar cipher.
import string
def caesar(txt, shift):
    a = string.ascii_uppercase
    s = a[shift:] + a[:shift]
    d = ""
    for i in txt.upper():
        if i in a:
            d+=s[a.index(i)]
        else:
            d+=i
    return d.title()

In [83]:
caesar("Hello, world!", 3)

'Khoor, Zruog!'

In [85]:
# 43. Decode a Caesar cipher encoded string.
import string
def caesar_dic(txt, shift):
    a = string.ascii_uppercase
    s = a[shift:] + a[:shift]
    d = ""
    for i in txt.upper():
        if i in a:
            d+=a[s.index(i)]
        else:
            d+=i
    return d.title()

In [86]:
caesar_dic('Khoor, Zruog!', 3)

'Hello, World!'

In [91]:
# 44. Find the most frequent word in a string.
import collections
a = "Hello world, hello there! How's the world?"
c = dict(collections.Counter((a.lower()).split()))
print(f"Most frequent word : {list(c)[0]}")

Most frequent word : hello

In [94]:
# 45. Find all unique words in a string.
a = "Hello world, hello there! How's the world?"
c = dict(collections.Counter((a.lower()).split()))
d = []
for k, v in c.items():
    if c[k]==1:
        d.append(k)
print(f"Unique words in a string : {d}")

Unique words in a string : ['world,', 'there!', "how's", 'the', 'world?']

In [95]:
# 46. Count the number of syllables in a string.
import re

def count_syllables(word):
    
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [98]:
# 47. Check if a string contains any special characters.
str2 = "This is a test."
str3 = "Special@Characters"
def sss(txt):
    a = [x for x in txt if not x.isalnum()]
    return a
a = sss(str2)
b = sss(str3)
print(f"String contains any special characters : {a!=None}")
print(f"String contains any special characters : {b!=None}")

String contains any special characters : True
String contains any special characters : True

In [103]:
# 48. Remove the nth word from a string.
x = input().split()
x.remove(x[int(input())-1])
print(" ".join(x))

This is an example sentence to test the function.
4
This is an sentence to test the function.

In [109]:
# 50. Insert a word at the nth position in a string.
a = "This is an sentence to test the function.".split()
a.insert(int(input())-1, "example")
print(" ".join(a))

4
This is an example sentence to test the function.

List Based Practice Problem :

In [1]:
# 1. Create a list with integers from 1 to 10.
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# 2. Find the length of a list without using the `len()` function.
c = 0
a = [1, 2, 3, 4, 5, 6]
for i in a:
    c+=1
print(c)

6

In [7]:
# 3. Append an element to the end of a list.
c = (list(range(1,7)))
c.append(7)
c

[1, 2, 3, 4, 5, 6, 7]

In [10]:
# 4. Insert an element at a specific index in a list.
c = [1, 3, 4]
c.insert(1, 2)
c

[1, 2, 3, 4]

In [11]:
# 5. Remove an element from a list by its value.
fruits = ['apple', 'banana', 'cherry']
fruits.remove("cherry")
fruits

['apple', 'banana']

In [12]:
# 6. Remove an element from a list by its index.
a = ["mango", "apple", "banana"]
a.pop(1)
a

['mango', 'banana']

In [13]:
# 7. Check if an element exists in a list.
a = ["mango", "apple", "banana"]
print("papaya" in a)

False

In [14]:
# 8. Find the index of the first occurrence of an element in a list.
a = ["mango", "apple", "banana", "mango", "apple"]
print(a.index("mango"))

0

In [22]:
# 9. Count the occurrences of an element in a list.
import collections
a = ["mango", "apple", "banana", "mango", "apple"]
c = collections.Counter(a)
dict(c)

{'mango': 2, 'apple': 2, 'banana': 1}

In [25]:
# 10. Reverse the order of elements in a list.
a = ["mango", "apple", "banana", "mango", "apple"]
a.reverse()
a

['apple', 'mango', 'banana', 'apple', 'mango']

In [26]:
# 11. Sort a list in ascending order.
a = [8, 7, 6, 5, 4, 3, 2, 1]
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
# 12. Sort a list in descending order.
a = [1, 2, 3, 4, 5, 6, 7, 8]
a.sort(reverse = True)
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
# 13. Create a list of even numbers from 1 to 20.
a = [x for x in range(1, 21) if x%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
# 14. Create a list of odd numbers from 1 to 20.
a = [x for x in range(1, 21) if x%2!=0]
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [30]:
# 15. Find the sum of all elements in a list.
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(sum(a))

36

In [31]:
# 16. Find the maximum value in a list.
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a))

8

In [32]:
# 17. Find the minimum value in a list.
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(min(a))

1

In [33]:
# 18. Create a list of squares of numbers from 1 to 10.
a = [x**2 for x in range(1, 11)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
# 19. Create a list of random numbers.
import random
a = random.sample(range(1, 17), 10)
a

[6, 8, 7, 3, 13, 9, 15, 5, 4, 16]

In [48]:
# 20. Remove duplicates from a list.
a = [1,3,4,4,3,5,6,7,1,2,2,8,5,8]
list(set(a))

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
# 21. Find the common elements between two lists.
l1 = [10, 20, 30, 40, 50]
l2 = [30, 40, 50, 60, 70]
print(list(set(l1).union(set(l2))))

[70, 40, 10, 50, 20, 60, 30]

In [51]:
# 22. Find the difference between two lists.
l1 = [10, 20, 30, 40, 50]
l2 = [30, 40, 50, 60, 70]
print(list(set(l1).difference(set(l2))))

[10, 20]

In [53]:
# 23. Merge two lists.
l1 = [10, 20, 50]
l2 = [30, 40, 60, 70]
l1.extend(l2)
l1

[10, 20, 50, 30, 40, 60, 70]

In [54]:
# 24. Multiply all elements in a list by 2.
a = [10, 20, 50, 30, 40, 60, 70]
print([x*2 for x in a])

[20, 40, 100, 60, 80, 120, 140]

In [55]:
# 25. Filter out all even numbers from a list.
a = [1, 2, 3, 4, 5, 6, 7, 8]
print([x for x in a if x%2!=0])

[1, 3, 5, 7]

In [57]:
# 26. Convert a list of strings to a list of integers
string_list = ["10", "20", "30", "40", "50"]
print([int(x) for x in string_list])

[10, 20, 30, 40, 50]

In [58]:
# 27. Convert a list of integers to a list of strings.
string_list = ["10", "20", "30", "40", "50"]
print([str(x) for x in string_list])

['10', '20', '30', '40', '50']

In [59]:
# 28. Flatten a nested list.
t = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(sum(t, []))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# 29. Create a list of the first 10 Fibonacci numbers.
def fibo(n):
    if n<=1:
        return n
    else:
        return fibo(n-1) + fibo(n-2)
fibo(10)

55

In [3]:
# 30. Check if a list is sorted.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a == sorted(a))

True

In [11]:
# 31. Rotate a list to the left by `n` positions.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = int(input())
s = a[n:] + a[:n]
print("Original list:", a)
print(s)

3
Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9, 1, 2, 3]

In [12]:
# 32. Rotate a list to the right by `n` positions.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = int(input())
s = a[-n:] + a[:-n] 
print("Original list:", a)
print(s)

3
Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 6]

In [56]:
# 33. Create a list of prime numbers up to 50.
def pri(n):
    import math
    a = []
    for num in range(2, n+1):
        if all(num%i!=0 for i in range(2,int(math.sqrt(num))+1)):
               a.append(num)
    return a
pri(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
# 34. Split a list into chunks of size `n`.
t = [10, 5, 20, 15, 30, 25]
n = 2
x = [t[i:i+n] for i in range(0, len(t), n)]
x

[[10, 5], [20, 15], [30, 25]]

In [1]:
# 35. Find the second largest number in a list.


my_list = [10, 5, 20, 15, 30, 25]


sorted_list = sorted(set(my_list))


if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [15]:
# 36. Replace every element in a list with its square.
t = [10, 5, 20, 15, 30, 25]
a = [x**2 for x in t]
a

[100, 25, 400, 225, 900, 625]

In [20]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
t = ['apple', 'banana', 'cherry', 'date', 'elderberry']
s = {}
for k in t:
    s[k] = t.index(k)
s

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [21]:
# 38. Shuffle the elements of a list randomly.
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [10, 6, 1, 8, 7, 9, 5, 4, 3, 2]

In [24]:
# 39. Create a list of the first 10 factorial numbers
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
a = [fact(i) for i in range(10)]
a

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [26]:
# 40. Check if two lists have at least one element in common.

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [27]:
# 41. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [28]:
# 42
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [29]:
# 43
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [30]:
# 49
def tri_n(n):
    if n < 1:
        return []

    tri = [i * (i + 1) // 2 for i in range(1, n + 1)]
    return tri
n = 5
t = tri_n(n)
print(t)

[1, 3, 6, 10, 15]

In [31]:
# 50
def swap(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
        return True 
    else:
        return False
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
if swap(my_list, index1, index2):
    print("Elements swapped:", my_list)
else:
    print("Invalid indices. Swap not performed.")

Elements swapped: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

In [4]:
# 1
m = tuple(range(1, 6))
m

(1, 2, 3, 4, 5)

In [5]:
# 2
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [6]:
# 3
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [7]:
# 4
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element_to_count = 20

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [8]:
# 5
my_tuple = (10, 20, 30, 20, 40, 50, 20)
print(my_tuple.index(20))

1

In [9]:
# 6
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [10]:
# 7
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [11]:
# 8
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [12]:
# 9
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

Set:

In [14]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [16]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 4
The set of the first 4 triangular numbers is: {1, 10, 3, 6}